<straps>
    <strap key="Host" value="localhost"/>
    <strap key="Database" value="gojimusic"/>
    <strap key="Driver" value="mysql"/>
    <strap key="Username" value="root"/>
    <strap key="Password" value="redeye"/>
    <strap key="LogDir" value="/home/adred/Golang/src/bitbucket.org/adred/wiki-player/log"/>
</straps>
